django==1.7.1
django-jinja==1.0.4
django-debug-toolbar==1.2.2
django-extensions==1.4.6
django-nose==1.2
werkzeug==0.9.6
requests==2.4.3
jinja2==2.7.3
nose==1.3.4
htmldom==2.0
BeautifulSoup4==4.3.2

git+https://github.com/amitu/importd.git@master
fhurl>=0.1.7
gunicorn
smarturls
six
dj-database-url
